In [ ]:
import pandas as pd
df = pd.read_csv('/content/BASE DE DATOS DE CONCIERTOS LIMPIA (SIN SIN DATOS)(Hoja1).csv', delimiter=',')
df

,GRUPO,NOMBRE GIRA,AÑO,MES,MERCADO,PAÍS,CIUDAD,RECINTO,CAPACIDAD,ENTRADA MÁS BARATA,ENTRADA MÁS CARA
0,ARTMS,Moonshot in Korea,2024,7,Corea del Sur,Corea del Sur,Seúl,Ewha Womans Univ. Samsung Hall,2800,$92.32,$92.32
1,ARTMS,Moonshot in Korea,2024,7,Corea del Sur,Corea del Sur,Seúl,Ewha Womans Univ. Samsung Hall,2800,$92.32,$92.32
2,ARTMS,Moonshot in Japan,2024,7,Japón,Japón,Tokio,KT Zepp Yokohama,2146,$250.00,$400.00
3,ARTMS,Moonshot in US,2024,8,Estados Unidos,Estados Unidos,Nueva York,King's Theatre,3250,$40.00,$300.00
4,ARTMS,Moonshot in US,2024,8,Estados Unidos,Estados Unidos,Atlanta,Tabernacle,2600,$46.00,$162.00
...,...,...,...,...,...,...,...,...,...,...,...
494,SEVENTEEN,"SEVENTEEN ""RIGHT HERE"" WORLD TOUR",2024,12,Japón,Japón,Osaka,Kyocera Dome Osaka,55000,$118.79,$174.69
495,SEVENTEEN,"SEVENTEEN ""RIGHT HERE"" WORLD TOUR",2024,12,Japón,Japón,Fukoaka,Mizuho Paypay Dome,47500,$118.79,$174.69
496,SEVENTEEN,"SEVENTEEN ""RIGHT HERE"" WORLD TOUR",2025,1,Sudeste Asiático,Singapur,Singapur,National Stadium,55000,$127.69,$294.90
497,SEVENTEEN,"SEVENTEEN ""RIGHT HERE"" WORLD TOUR",2025,2,Japón,Japón,Jakarta,Jakarta International Stadium,82000,$118.79,$174.69
498,SEVENTEEN,"SEVENTEEN ""RIGHT HERE"" WORLD TOUR",2025,2,Sudeste Asiático,Tailandia,Bangkok,Rajamangala National Stadium,51552,$83.41,$277.02

In [ ]:
import numpy as np

def limpiar(col):
    def limpiar_valor(x):
        if pd.isna(x):
            return np.nan
        # Convertir a string y limpiar
        s = str(x).strip()
        # Eliminar todo excepto dígitos y punto decimal
        s = ''.join(ch for ch in s if ch.isdigit() or ch == '.')
        # Si queda vacío, devolver NaN
        if s == '':
            return np.nan
        # Si hay más de un punto decimal, devolver NaN (número inválido)
        if s.count('.') > 1:
            return np.nan
        try:
            return float(s)
        except:
            return np.nan

    return col.apply(limpiar_valor)

  # Supongamos que tienes un DataFrame df con las columnas originales
df["ENTRADA MÁS BARATA"] = limpiar(df["ENTRADA MÁS BARATA"])
df["ENTRADA MÁS CARA"] = limpiar(df["ENTRADA MÁS CARA"])

df

,GRUPO,NOMBRE GIRA,AÑO,MES,MERCADO,PAÍS,CIUDAD,RECINTO,CAPACIDAD,ENTRADA MÁS BARATA,ENTRADA MÁS CARA
0,ARTMS,Moonshot in Korea,2024,7,Corea del Sur,Corea del Sur,Seúl,Ewha Womans Univ. Samsung Hall,2800,92.32,92.32
1,ARTMS,Moonshot in Korea,2024,7,Corea del Sur,Corea del Sur,Seúl,Ewha Womans Univ. Samsung Hall,2800,92.32,92.32
2,ARTMS,Moonshot in Japan,2024,7,Japón,Japón,Tokio,KT Zepp Yokohama,2146,250.00,400.00
3,ARTMS,Moonshot in US,2024,8,Estados Unidos,Estados Unidos,Nueva York,King's Theatre,3250,40.00,300.00
4,ARTMS,Moonshot in US,2024,8,Estados Unidos,Estados Unidos,Atlanta,Tabernacle,2600,46.00,162.00
...,...,...,...,...,...,...,...,...,...,...,...
494,SEVENTEEN,"SEVENTEEN ""RIGHT HERE"" WORLD TOUR",2024,12,Japón,Japón,Osaka,Kyocera Dome Osaka,55000,118.79,174.69
495,SEVENTEEN,"SEVENTEEN ""RIGHT HERE"" WORLD TOUR",2024,12,Japón,Japón,Fukoaka,Mizuho Paypay Dome,47500,118.79,174.69
496,SEVENTEEN,"SEVENTEEN ""RIGHT HERE"" WORLD TOUR",2025,1,Sudeste Asiático,Singapur,Singapur,National Stadium,55000,127.69,294.90
497,SEVENTEEN,"SEVENTEEN ""RIGHT HERE"" WORLD TOUR",2025,2,Japón,Japón,Jakarta,Jakarta International Stadium,82000,118.79,174.69
498,SEVENTEEN,"SEVENTEEN ""RIGHT HERE"" WORLD TOUR",2025,2,Sudeste Asiático,Tailandia,Bangkok,Rajamangala National Stadium,51552,83.41,277.02

In [ ]:
df_melt = df_precio.melt(
    id_vars=["GRUPO", "AÑO"],
    value_vars=["ENTRADA MÁS BARATA", "ENTRADA MÁS CARA"],
    var_name="Tipo Entrada",
    value_name="Precio"
)

In [ ]:
# Asegúrate de que la columna Precio sea numérica
df_melt['Precio'] = pd.to_numeric(df_melt['Precio'], errors='coerce')

# Calcula los percentiles 5 y 95
lower_bound = df_melt['Precio'].quantile(0.05)
upper_bound = df_melt['Precio'].quantile(0.95)

# Filtra el DataFrame para quitar los valores extremos
df_filtrado = df_melt[(df_melt['Precio'] > lower_bound) & (df_melt['Precio'] < upper_bound)]

# Ahora df_filtrado contiene los datos sin los valores extremos
df_filtrado

     GRUPO   AÑO        Tipo Entrada  Precio
0    ARTMS  2024  ENTRADA MÁS BARATA   39.00
1    ARTMS  2025  ENTRADA MÁS BARATA   55.00
2      BTS  2014  ENTRADA MÁS BARATA   50.00
6      BTS  2018  ENTRADA MÁS BARATA   24.66
7      BTS  2019  ENTRADA MÁS BARATA   51.81
..     ...   ...                 ...     ...
104  TWICE  2022    ENTRADA MÁS CARA  199.50
105  TWICE  2023    ENTRADA MÁS CARA  479.50
106  TWICE  2024    ENTRADA MÁS CARA  244.70
108  aespa  2024    ENTRADA MÁS CARA  255.00
109  aespa  2025    ENTRADA MÁS CARA  310.62

[98 rows x 4 columns]

In [ ]:
import altair as alt

chart = alt.Chart(df_filtrado).mark_point(filled=True, size=200).encode(
    y=alt.Y('GRUPO:N', title='Grupo'),
    x=alt.X('AÑO:O', title='Año'),
    color=alt.Color(
        'Precio:Q',
        scale=alt.Scale(domain=[0, 500], range=["#6a0dad", "#ff69b4", "#00ced1"]),
        title='Precio'
    ),
    shape=alt.Shape(
        'Tipo Entrada:N',
        title='Tipo de Entrada',
        scale=alt.Scale(domain=['ENTRADA MÁS BARATA', 'ENTRADA MÁS CARA'],
                        range=['circle', 'square'])
    ),
    xOffset=alt.XOffset('Tipo Entrada:N'),
    tooltip=[
        alt.Tooltip('GRUPO:N', title='Grupo'),
        alt.Tooltip('AÑO:O', title='Año'),
        alt.Tooltip('Tipo Entrada:N', title='Tipo de Entrada'),
        alt.Tooltip('Precio:Q', title='Precio', format=".2f")
    ]
).properties(
    width=700,
    height=400,
    title='Entradas más caras y más baratas por grupo y año'
).interactive()

chart

alt.Chart(...)

In [ ]:
chart.save('vis_04.html')